<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>bolero-releases</id>
            <username>${env.REPO_USERNAME}</username>
            <password>${env.REPO_PASSWORD}</password>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>bolero-application</name>
                        <value>${env.REPO_SPECIAL_SAUCE}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
        <server>
            <id>bolero-snapshots</id>
            <username>${env.REPO_USERNAME}</username>
            <password>${env.REPO_PASSWORD}</password>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>bolero-application</name>
                        <value>${env.REPO_SPECIAL_SAUCE}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
        <server>
            <id>repository2</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>bolero-application</name>
                        <value>${env.REPO_SPECIAL_SAUCE}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>

<!--    <mirrors>-->
<!--        <mirror>-->
<!--            <id>central</id>-->
<!--            <name>Maven Central</name>-->
<!--            <url>https://repo.maven.apache.org/maven2</url>-->
<!--            <mirrorOf>central</mirrorOf>-->
<!--        </mirror>-->
<!--        <mirror>-->
<!--            <id>bolero-mirrors-consolidated</id>-->
<!--            <name>repository02 mirrors consolidated</name>-->
<!--            <url>https://${env.REPO_HOSTNAME}/artifactory/mirrors-consolidated/</url>-->
<!--            <mirrorOf>!central,!mirror-bolero-snapshots,!mirror-bolero-releases</mirrorOf>-->
<!--        </mirror>-->
<!--        <mirror>-->
<!--            <id>mirror-bolero-releases</id>-->
<!--            <name>repository02 releases</name>-->
<!--            <url>https://${env.REPO_HOSTNAME}/artifactory/bolero-releases/</url>-->
<!--            <mirrorOf>!central,!bolero-mirrors-consolidated,!mirror-bolero-snapshots</mirrorOf>-->
<!--        </mirror>-->
<!--        <mirror>-->
<!--            <id>mirror-bolero-snapshots</id>-->
<!--            <name>repository02 snapshots</name>-->
<!--            <url>https://${env.REPO_HOSTNAME}/artifactory/bolero-snapshots/</url>-->
<!--            <mirrorOf>!central!bolero-mirrors-consolidated,!mirror-bolero-releases</mirrorOf>-->
<!--        </mirror>-->
<!--    </mirrors>-->

    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>

    <profiles>
        <profile>
            <id>repository2</id>
            <properties>
                <dependency.resolutionConcurrency>5</dependency.resolutionConcurrency>
                <altSnapshotDeploymentRepository>bolero-snapshots::default::https://${env.REPO_HOSTNAME}/artifactory/bolero-snapshots/</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>bolero-releases::default::https://${env.REPO_HOSTNAME}/artifactory/bolero-releases/</altReleaseDeploymentRepository>
            </properties>
            <repositories>
<!--                <repository>-->
<!--                    <id>central</id>-->
<!--                    <name>Maven Central</name>-->
<!--                    <url>https://repo.maven.apache.org/maven2</url>-->
<!--                    <releases>-->
<!--                        <enabled>true</enabled>-->
<!--                    </releases>-->
<!--                    <snapshots>-->
<!--                        <enabled>false</enabled>-->
<!--                    </snapshots>-->
<!--                </repository>-->
                <repository>
                    <id>repository2</id>
                    <url>https://${env.REPO_HOSTNAME}/artifactory/mirrors-consolidated/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>bolero-releases</id>
                    <url>https://${env.REPO_HOSTNAME}/artifactory/bolero-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>bolero-snapshots</id>
                    <url>https://${env.REPO_HOSTNAME}/artifactory/bolero-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
<!--                <pluginRepository>-->
<!--                    <id>central</id>-->
<!--                    <url>https://repo.maven.apache.org/maven2</url>-->
<!--                    <releases>-->
<!--                        <enabled>true</enabled>-->
<!--                    </releases>-->
<!--                    <snapshots>-->
<!--                        <enabled>false</enabled>-->
<!--                    </snapshots>-->
<!--                </pluginRepository>-->
                <pluginRepository>
                    <id>repository2</id>
                    <url>https://${env.REPO_HOSTNAME}/artifactory/mirrors-consolidated/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>repository2</activeProfile>
    </activeProfiles>
</settings>
